.SliderOnboardingWrapper {
  margin-top: 16px;
}

.sliderOnboardingTitle {
  font-size: var(--font-size-s);
}

.sliderOnboardingText {
  font-size: var(--font-size-xs);
  line-height: 16px;
}

.swiper-slide {
  width: auto;
}
