.ActiveServiceCard {
  display: block;
  width: 183px;
  color: var(--primary-color);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.05);
  border-radius: 12px;
  padding: 12px;
}

.innerContainer {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.logo {
  width: 40px;
  height: 40px;
}

.priceContainer {
}

.price {
  font-size: var(--font-size-l);
  line-height: var(--font-line-xl);
  font-weight: var(--font-weight-semibold);
  text-align: end;
}

.duaration {
  font-size: var(--font-size-xs);
  line-height: var(--font-line-xs);
  color: var(--gray-text);
  text-align: end;
  white-space: nowrap;
}

.title {
  font-size: var(--font-size-s);
  line-height: var(--font-line-s);
  font-weight: var(--font-weight-medium);
}

.option {
  font-size: var(--font-size-xs);
  line-height: var(--font-line-s);
}

.endTime {
  font-size: var(--font-size-xs);
  line-height: var(--font-line-s);
  color: #721bb7;
  white-space: nowrap;
}
