.title {
  font-size: var(--font-line-m);
  font-weight: var(--font-weight-bold);
  margin: 28px 0 20px;
}

.noData {
  margin: 40px 0 20px;
  font-size: var(--font-size-m);
  font-weight: var(--font-weight-semibold);
  text-align: center;
}
